{% extends "base.html" %}
{% block body %}
    <ul class="news">
        {% for entry in entries %}
            <li>
                <div><img src="/images/{{ entry['img'] }}" height="100"> <a href="/news/{{ entry['news_id'] }}">{{ entry['title'] }} </a>: {{ entry['published'] }}</div>
                <hr>
            </li>
        {% end %}
    </ul>
{% end %}
{% block pages %}
    <ul class="pages">
        |
        {% for page_num in pages_list %}
            <a href='/news/?page={{ page_num }}'>{{ page_num }}</a> |
        {% end %}
    </ul>
{% end %}